/* src/BookList.css */

/* Styling for the delete button */
.delete {
    color: red;
    cursor: pointer;
    margin-left: 5px;
  }
  
  /* Styling for buttons */
  button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Hover effect for buttons */
  button:hover {
    background-color: #c0392b;
  }
  
  /* Styling for input fields */
  input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 75%;
  }
  
  /* Styling for the add book form */
  .add-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  /* Styling for book details */
  .book-details {
    text-align: left;
  }
  
  /* Styling for book title */
  .book-title {
    margin-top: 5px;
    padding-right: 15em;
  }
  
  /* Hover effect for book list items */
  .book-container li:hover {
    background-color: #364682;
  }
  
  /* Styling for unordered list */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Styling for list items */
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #92b5f7;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Verdana, sans-serif, serif;
  }
  
  /* Hover effect for list items */
  li:hover {
    background-color: #364682;
  }
  